{% extends "base.html" %}

{% block stylesheet %}
{% endblock %}


{% block body %}
    <h1>Création d'une catégorie</h1>
    <form action="?c=categorie&t=insert" method="POST">
        <div>
            ID: <input name="ID" value="{{ categorie.id }}">
        </div>
        <div>
            Nom: <input name="nom" value="{{ categorie.nom }}">
        </div>
        
        <button type="submit">Envoyer</button>
        
    </form>
{% endblock %}